<div class="container movieInfo">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li><a href="/" title="ホーム"><span class="glyphicon glyphicon-home"></span> ホーム</a></li>
        <li class="active"><a href="/foreign"><span class="glyphicon glyphicon-film"></span> 洋画</a></li>
        <li><a href="/japanese"><span class="glyphicon glyphicon-film"></span> 邦画</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-stats"></span> ランキング<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/ranking">総合</a></li>
            <li><a href="/rankingfr">洋画</a></li>
            <li><a href="/rankingjp">邦画</a></li>
          </ul>
        </li><!--/.dropdown-->
      </ul>
    </div>
  </div><!--./row-->
  <div class="row" id="thumbnails">
    <% @foreign_titles.each do |title| %>
    <div class="thumb col-lg-3 col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail">
        <img alt="<%= title.title %>" src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%= title.asin %>&Format=_SL450_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1">
        <div class="caption">
          <h3 class="text-center"><%= title.title %></h3>
          <p class="text-center">
            <a href="http://www.amazon.co.jp/dp/product-description/<%= title.asin %>/?tag=cigeek-22">詳細</a> | <a href="http://www.amazon.co.jp/product-reviews/<%= title.asin %>/?tag=cigeek-22">レビュー</a> | <a href="http://twitter.com/share?text=『<%= title.title %>』%23なりたてQ作&url=http://www.amazon.co.jp/dp/product-description/<%= title.asin %>/?tag=cigeek-22" target="_blank">シェア</a>
          </p>
          <hr>
          <p class="text-center" id="<%= title.id %>">
            <a type="button" class="btn btn-primary btn-sm favCmdFr" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> スキ！ ( <%= title.favs.to_s %> )</a> 
            <a type="button" class="btn btn-default btn-sm timeCmdFr" role="button"><span class="glyphicon glyphicon-ok"></span> 借りた ( <%= title.times.to_s %> )</a>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div><!--/.row#thumbnails-->
</div><!--/.container.movieInfo-->
<script src="js/masonry.min.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/naritate.js"></script>