<div class="container movieInfo">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li><a href="/" title="ホーム"><span class="glyphicon glyphicon-home"></span> ホーム</a></li>
        <li><a href="/foreign"><span class="glyphicon glyphicon-film"></span> 洋画</a></li>
        <li><a href="/japanese"><span class="glyphicon glyphicon-film"></span> 邦画</a></li>
        <li class="active"><a href="/hot"><span class="glyphicon glyphicon-fire"></span> 人気</a></li>
      </ul>
    </div><!--/.nav-tabs-->
  </div><!--/.row-->
  <div id="hot">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>洋画</h2>
      <hr>
    </div>
    <% @fr_latest.each do |title| %>
    <% if title.favs > 0 %>
    <div class="thumb col-lg-3 col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail">
        <img alt="<%= title.title %>" src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%= title.asin %>&Format=_SL450_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1">
        <div class="caption">
          <h4 class="text-center"><%= title.title %></h4>
          <p class="text-center">
            <a href="http://www.amazon.co.jp/dp/product-description/<%= title.asin %>/?tag=cigeek-22">詳細</a> | <a href="http://www.amazon.co.jp/product-reviews/<%= title.asin %>/?tag=cigeek-22">レビュー</a> | <a href="http://twitter.com/share?text=『<%= title.title %>』%23なりたてQ作&url=http://www.amazon.co.jp/dp/product-description/<%= title.asin %>/?tag=cigeek-22" target="_blank">シェア</a>
          </p>
          <hr>
          <p class="text-center buttons" id="<%= title.id %>">
            <a type="button" class="btn btn-primary btn-sm favCmdFr" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> スキ！ ( <%= title.favs %> )</a> 
            <a type="button" class="btn btn-default btn-sm booCmdFr" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> うーん ( <%= title.boos %> )</a>
          </p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div><!--/.row fr-->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>邦画</h2>
      <hr>
    </div>
    <% @jp_latest.each do |title| %>
    <% if title.favs > 0 %>
    <div class="thumb col-lg-3 col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail">
        <img alt="<%= title.title %>" src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=<%= title.asin %>&Format=_SL450_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1">
        <div class="caption">
          <h4 class="text-center"><%= title.title %></h4>
          <p class="text-center">
            <a href="http://www.amazon.co.jp/dp/product-description/<%= title.asin %>/?tag=cigeek-22">詳細</a> | <a href="http://www.amazon.co.jp/product-reviews/<%= title.asin %>/?tag=cigeek-22">レビュー</a> | <a href="http://twitter.com/share?text=『<%= title.title %>』%23なりたてQ作&url=http://www.amazon.co.jp/dp/product-description/<%= title.asin %>/?tag=cigeek-22" target="_blank">シェア</a>
          </p>
          <hr>
          <p class="text-center buttons" id="<%= title.id %>">
            <a type="button" class="btn btn-primary btn-sm favCmdFr" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> スキ！ ( <%= title.favs %> )</a> 
            <a type="button" class="btn btn-default btn-sm booCmdFr" role="button"><span class="glyphicon glyphicon-thumbs-down"></span> うーん ( <%= title.boos %> )</a>
          </p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div><!--/.row jp-->
  </div><!--/#hot-->
</div><!--/.container.movieInfo-->
<script src="js/masonry.min.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/naritate.js"></script>