<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li><a href="/" title="ホーム"><span class="glyphicon glyphicon-home"></span> ホーム</a></li>
        <li><a href="/foreign"><span class="glyphicon glyphicon-film"></span> 洋画</a></li>
        <li><a href="/japanese"><span class="glyphicon glyphicon-film"></span> 邦画</a></li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-stats"></span> ランキング<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/ranking">総合</a></li>
            <li><a href="/rankingfr">洋画</a></li>
            <li class="active"><a href="/rankingjp">邦画</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <h2>邦画</h2>
      <hr>
      <h3>イイ！ランキング</h3>
      <table class="table table-striped">
        <tr>
          <th class="rank">#</th>
          <th class="ranktitle">タイトル</th>
          <th class="rankscore">イイ！数</th>
        </tr>
        <% rank = 1 %>
        <% @favrank.each do |title| %>
        <tr>
          <td><%= rank.to_s %></td>
          <td><%= title.title %></td>
          <td><%= title.favs.to_s %></td>
        </tr>
        <% rank += 1 %>
        <% end %>
      </table>
      <h3>借りた！ランキング</h3>
      <table class="table table-striped">
        <tr>
          <th class="rank">#</th>
          <th class="ranktitle">タイトル</th>
          <th class="rankscore">借りた！数</th>
        </tr>
        <% rank = 1 %>
        <% @timerank.each do |title| %>
        <tr>
          <td><%= rank.to_s %></td>
          <td><%= title.title %></td>
          <td><%= title.times.to_s %></td>
        </tr>
        <% rank += 1 %>
        <% end %>
      </table>
    </div>
  </div><!--/.row-->
</div><!--/.contents-->