<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li><a href="/" title="ホーム"><span class="glyphicon glyphicon-home"></span> ホーム</a></li>
        <li><a href="/foreign"><span class="glyphicon glyphicon-film"></span> 洋画</a></li>
        <li><a href="/japanese"><span class="glyphicon glyphicon-film"></span> 邦画</a></li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-stats"></span> ランキング<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/ranking">総合</a></li>
            <li class="active"><a href="/rankingfr">洋画</a></li>
            <li><a href="/rankingjp">邦画</a></li>
          </ul>
        </li><!--/.dropdown-->
      </ul>
    </div>
  </div><!--/.row-->
  <div class="row">
    <!--Ranking of Foreign titles-->
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <h2>洋画</h2>
      <hr>
      <h3>スキ！ランキング</h3>
      <table class="table table-striped">
        <tr>
          <th class="rank">#</th>
          <th class="rank-title">タイトル</th>
          <th class="rank-score">スキ！数</th>
        </tr>
        <% rank = 1 %>
        <% @fav_ranks.each do |title| %>
        <tr>
          <td><%= rank.to_s %></td>
          <td><%= title.title %></td>
          <td><%= title.favs.to_s %></td>
        </tr>
        <% rank += 1 %>
        <% end %>
      </table>
      <h3>借りたランキング</h3>
      <table class="table table-striped">
        <tr>
          <th class="rank">#</th>
          <th class="rank-title">タイトル</th>
          <th class="rank-score">借りた数</th>
        </tr>
        <% rank = 1 %>
        <% @time_ranks.each do |title| %>
        <tr>
          <td><%= rank.to_s %></td>
          <td><%= title.title %></td>
          <td><%= title.times.to_s %></td>
        </tr>
        <% rank += 1 %>
        <% end %>
      </table>
    </div>
  </div><!--/.row-->
</div><!--/.container-->