<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified">
        <li><a href="/" title="ホーム"><span class="glyphicon glyphicon-home"></span> ホーム</a></li>
        <li><a href="/foreign"><span class="glyphicon glyphicon-film"></span> 洋画</a></li>
        <li><a href="/japanese"><span class="glyphicon glyphicon-film"></span> 邦画</a></li>
        <li class="active"><a href="/ranking"><span class="glyphicon glyphicon-stats"></span> ランキング</a></li>
      </ul>
    </div><!--./tav-tabs-->
  </div><!--/.row-->
  <div class="row">
    <!--Total ranking-->
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <h2>総合</h2>
      <table class="table table-striped">
        <tr>
          <th class="rank">#</th>
          <th class="rank-title">タイトル</th>
          <th class="rank-score">スキ！数</th>
        </tr>
        <% rank = 1 %>
        <% @fav_ranks.each do |title| %>
        <tr>
          <td><%= rank %></td>
          <td><%= title["title"] %></td>
          <td><%= title["favs"].to_s %></td>
        </tr>
        <% rank += 1 %>
        <% end %>
      </table>
      <hr>
      <h2>洋画</h2>
      <table class="table table-striped">
        <tr>
          <th class="rank">#</th>
          <th class="rank-title">タイトル</th>
          <th class="rank-score">スキ！数</th>
        </tr>
        <% rank = 1 %>
        <% @fr_fav_ranks.each do |title| %>
        <tr>
          <td><%= rank %></td>
          <td><%= title["title"] %></td>
          <td><%= title["favs"].to_s %></td>
        </tr>
        <% rank += 1 %>
        <% end %>
      </table>
      <hr>
      <h2>邦画</h2>
      <table class="table table-striped">
        <tr>
          <th class="rank">#</th>
          <th class="rank-title">タイトル</th>
          <th class="rank-score">スキ！数</th>
        </tr>
        <% rank = 1 %>
        <% @jp_fav_ranks.each do |title| %>
        <tr>
          <td><%= rank %></td>
          <td><%= title["title"] %></td>
          <td><%= title["favs"].to_s %></td>
        </tr>
        <% rank += 1 %>
        <% end %>
      </table>
    </div>
  </div><!--/.row-->
</div><!--/.container-->